*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex-wrap: wrap;
}

.country {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 70vh;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.country-details h3{
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.country-details p{
    margin-top: -12px;
}

